Repository ionic-team/stencil, pull requests merged in 2024-03, with the labels that each got.

#5317 fix(custom-elements): hydrate on client side
  src/compiler/output-targets/dist-custom-elements/custom-elements-build-conditionals.ts
  src/compiler/output-targets/test/build-conditionals.spec.ts
  src/runtime/initialize-component.ts
Labels: Resolution: Refine, ssr-related

#5337 fix(renderer): fix missing slot ref callback handling
  src/declarations/stencil-private.ts
  src/runtime/dom-extras.ts
  src/runtime/vdom/vdom-render.ts
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-ref/cmp.tsx
  test/karma/test-app/slot-ref/index.html
  test/karma/test-app/slot-ref/karma.spec.ts
Labels: Resolution: Refine

#5468 chore(wdio): port css-variables test suite to webdriverio
  test/karma/test-app/components.d.ts
  test/karma/test-app/css-variables/index.html
  test/wdio/css-variables/cmp-no-encapsulation.css
  test/wdio/css-variables/cmp-no-encapsulation.tsx
  test/wdio/css-variables/cmp-shadow-dom.css
  test/wdio/css-variables/cmp-shadow.tsx
  test/wdio/css-variables/cmp.test.tsx
  test/wdio/css-variables/variables.css
Labels: WDIO Migration

#5488 chore(wdio): port listen-reattach test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/listen-reattach/index.html
  test/karma/test-app/listen-reattach/karma.spec.ts
  test/wdio/listen-reattach/cmp-a.test.tsx
  test/wdio/listen-reattach/cmp-a.tsx
Labels: WDIO Migration

#5493 chore(wdio): convert event-custom-type to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/event-custom-type/index.html
  test/karma/test-app/event-custom-type/karma.spec.ts
  test/wdio/event-custom-type/cmp.test.tsx
  test/wdio/event-custom-type/cmp.tsx
Labels: WDIO Migration

#5484 chore(test): migrate `es5-addclass-svg`
  test/karma/test-app/components.d.ts
  test/karma/test-app/es5-addclass-svg/index.html
  test/karma/test-app/es5-addclass-svg/karma.spec.ts
  test/wdio/es5-addclass-svg/cmp.test.tsx
  test/wdio/es5-addclass-svg/cmp.tsx
Labels: WDIO Migration

#5511 chore(wdio): port reflect-nan-attribute test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/reflect-nan-attribute/index.html
  test/karma/test-app/reflect-nan-attribute/karma.spec.ts
  test/wdio/reflect-nan-attribute/reflect-nan-attribute.test.tsx
  test/wdio/reflect-nan-attribute/reflect-nan-attribute.tsx
Labels: WDIO Migration

#5507 chore(wdio): port lifecycle-update test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/lifecycle-update/index.html
  test/karma/test-app/lifecycle-update/karma.spec.ts
  test/wdio/lifecycle-update/cmp-a.test.tsx
  test/wdio/lifecycle-update/cmp-a.tsx
  test/wdio/lifecycle-update/cmp-b.tsx
  test/wdio/lifecycle-update/cmp-c.tsx
Labels: WDIO Migration

#5495 chore(test): migrate `external-imports`
  test/karma/test-app/components.d.ts
  test/karma/test-app/external-imports/index.html
  test/karma/test-app/external-imports/karma.spec.ts
  test/wdio/external-imports/cmp-a.tsx
  test/wdio/external-imports/cmp-b.tsx
  test/wdio/external-imports/cmp-c.tsx
  test/wdio/external-imports/cmp.test.tsx
  test/wdio/external-imports/external-data.ts
  test/wdio/external-imports/external-store.ts
  test/wdio/key-reorder/cmp.test.tsx
Labels: WDIO Migration

#5512 chore(wdio): porting the scoped-basic test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/scoped-basic/index.html
  test/karma/test-app/scoped-basic/karma.spec.ts
  test/wdio/global.ts
  test/wdio/scoped-basic/cmp-root-md.css
  test/wdio/scoped-basic/cmp-root.tsx
  test/wdio/scoped-basic/cmp.test.tsx
  test/wdio/scoped-basic/cmp.tsx
  test/wdio/stencil.config.ts
Labels: WDIO Migration

#5524 chore(lint): turn on linting for the `test/wdio` directory tree
  .eslintrc.js
  package.json
  test/wdio/custom-event/cmp.tsx
  test/wdio/dynamic-css-variables/cmp.tsx
  test/wdio/event-custom-type/cmp.tsx
  test/wdio/external-imports/cmp.test.tsx
  test/wdio/form-associated/cmp.test.tsx
  test/wdio/json-basic/cmp.tsx
  test/wdio/key-reorder/cmp.tsx
  test/wdio/lifecycle-async/cmp-a.test.tsx
  test/wdio/lifecycle-async/cmp-a.tsx
  test/wdio/lifecycle-async/cmp-b.tsx
  test/wdio/lifecycle-async/cmp-c.tsx
  test/wdio/lifecycle-basic/cmp-a.test.tsx
  test/wdio/lifecycle-basic/cmp-a.tsx
  test/wdio/lifecycle-basic/cmp-b.tsx
  test/wdio/lifecycle-basic/cmp-c.tsx
  test/wdio/lifecycle-nested/cmp-a.test.tsx
  test/wdio/lifecycle-nested/cmp-a.tsx
  test/wdio/lifecycle-nested/cmp-b.tsx
  test/wdio/lifecycle-nested/cmp-c.tsx
  test/wdio/lifecycle-update/cmp-a.test.tsx
  test/wdio/lifecycle-update/cmp-a.tsx
  test/wdio/lifecycle-update/cmp-b.tsx
  test/wdio/lifecycle-update/cmp-c.tsx
  test/wdio/listen-jsx/cmp-root.tsx
  test/wdio/listen-jsx/cmp.tsx
  test/wdio/listen-reattach/cmp-a.test.tsx
  test/wdio/listen-reattach/cmp-a.tsx
  test/wdio/listen-window/cmp-a.tsx
  test/wdio/reflect-nan-attribute/reflect-nan-attribute.tsx
Labels: WDIO Migration

#5515 chore(wdio): port input-basic over to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/input-basic/index.html
  test/karma/test-app/input-basic/karma.spec.ts
  test/wdio/input-basic/cmp-root.test.tsx
  test/wdio/input-basic/cmp-root.tsx
Labels: WDIO Migration

#5525 chore(test): make scoped-basic less flakey
  test/wdio/scoped-basic/cmp.test.tsx
Labels: WDIO Migration

#5516 chore(wdio): migrate import-aliasing to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/import-aliasing/index.html
  test/wdio/import-aliasing/cmp.test.tsx
  test/wdio/import-aliasing/cmp.tsx
Labels: WDIO Migration

#5508 chore(wdio): port scoped-conditional test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/scoped-conditional/index.html
  test/karma/test-app/scoped-conditional/karma.spec.ts
  test/wdio/scoped-conditional/cmp.test.tsx
  test/wdio/scoped-conditional/cmp.tsx
Labels: WDIO Migration

#5513 chore(wdio): port host-attr-override suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/host-attr-override/index.html
  test/karma/test-app/host-attr-override/karma.spec.ts
  test/wdio/host-attr-override/host-attr-override.test.tsx
  test/wdio/host-attr-override/host-attr-override.tsx
Labels: WDIO Migration

#5518 chore(test): migrate node-resolution from Karma to WebdriverIO
  test/karma/test-app/components.d.ts
  test/karma/test-app/node-resolution/index.html
  test/karma/test-app/node-resolution/karma.spec.ts
  test/wdio/node-resolution/cmp-root.tsx
  test/wdio/node-resolution/cmp.test.tsx
  test/wdio/node-resolution/module.ts
  test/wdio/node-resolution/module/index.ts
Labels: WDIO Migration

#5532 chore(test): remove `shadow-dom-slot-basic` test
  test/karma/test-app/components.d.ts
  test/karma/test-app/shadow-dom-slot-basic/cmp.tsx
  test/karma/test-app/shadow-dom-slot-basic/index.html
  test/karma/test-app/shadow-dom-slot-basic/karma.spec.ts
Labels: WDIO Migration

#5519 chore(test): migrate scoped-slot-append-and-prepend from Karma to WebdriverIO
  test/karma/test-app/components.d.ts
  test/karma/test-app/scoped-slot-append-and-prepend/index.html
  test/karma/test-app/scoped-slot-append-and-prepend/karma.spec.ts
  test/wdio/key-reorder/cmp.test.tsx
  test/wdio/scoped-slot-append-and-prepend/cmp.test.tsx
  test/wdio/scoped-slot-append-and-prepend/cmp.tsx
Labels: WDIO Migration

#5523 chore(test): migrate scoped-slot-text-with-sibling
  test/karma/test-app/components.d.ts
  test/karma/test-app/scoped-slot-text-with-sibling/index.html
  test/wdio/scoped-slot-text-with-sibling/cmp.test.tsx
  test/wdio/scoped-slot-text-with-sibling/cmp.tsx
Labels: WDIO Migration

#5529 chore(test): migrate `shadow-dom-basic` tests to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/shadow-dom-basic/index.html
  test/karma/test-app/shadow-dom-basic/karma.spec.ts
  test/wdio/shadow-dom-basic/cmp-root.tsx
  test/wdio/shadow-dom-basic/cmp.test.tsx
  test/wdio/shadow-dom-basic/cmp.tsx
Labels: WDIO Migration

#5539 chore(wdio): migrate reflect-nan-attribute-hyphen to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/reflect-nan-attribute-hyphen/index.html
  test/karma/test-app/reflect-nan-attribute-hyphen/karma.spec.ts
  test/wdio/reflect-nan-attribute-hyphen/cmp.test.tsx
  test/wdio/reflect-nan-attribute-hyphen/reflect-nan-attribute-hyphen.tsx
Labels: WDIO Migration

#5528 chore(test): migrate `shadow-dom-array` tests to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/shadow-dom-array/index.html
  test/karma/test-app/shadow-dom-array/karma.spec.ts
  test/wdio/shadow-dom-array/cmp-root.tsx
  test/wdio/shadow-dom-array/cmp.test.tsx
  test/wdio/shadow-dom-array/cmp.tsx
Labels: WDIO Migration

#5521 chore(test): migrate scoped-slot-in-slot
  test/karma/test-app/components.d.ts
  test/karma/test-app/scoped-slot-in-slot/index.html
  test/wdio/scoped-slot-in-slot/child.tsx
  test/wdio/scoped-slot-in-slot/cmp.test.tsx
  test/wdio/scoped-slot-in-slot/host.tsx
  test/wdio/scoped-slot-in-slot/parent.tsx
Labels: WDIO Migration

#5522 chore(test): migrate scoped-slot-text
  test/karma/test-app/components.d.ts
  test/karma/test-app/scoped-slot-text/index.html
  test/wdio/scoped-slot-text/cmp.test.tsx
  test/wdio/scoped-slot-text/cmp.tsx
Labels: WDIO Migration

#5535 chore(test): migrate reflect-to-attr
  test/karma/test-app/components.d.ts
  test/karma/test-app/reflect-to-attr/index.html
  test/wdio/reflect-to-attr/cmp.test.tsx
  test/wdio/reflect-to-attr/cmp.tsx
Labels: WDIO Migration

#5520 chore(test): migrate scoped-slot-child-insert-adjacent
  test/karma/test-app/components.d.ts
  test/karma/test-app/scoped-slot-child-insert-adjacent/index.html
  test/wdio/scoped-slot-child-insert-adjacent/cmp.test.tsx
  test/wdio/scoped-slot-child-insert-adjacent/cmp.tsx
Labels: WDIO Migration

#5536 chore(test): migrate reflect-single-render
  test/karma/test-app/components.d.ts
  test/karma/test-app/reflect-single-render/index.html
  test/karma/test-app/reflect-single-render/karma.spec.ts
  test/wdio/reflect-single-render/child-with-reflection.tsx
  test/wdio/reflect-single-render/cmp.test.tsx
  test/wdio/reflect-single-render/parent-with-reflect-child.tsx
Labels: WDIO Migration

#5485 chore(test): migrate `esm-import` and `esm-webpack`
  test/karma/package.json
  test/karma/test-app/components.d.ts
  test/karma/test-app/esm-import/index.html
  test/karma/test-app/esm-import/karma.spec.ts
  test/karma/test-app/esm-webpack/index.esm.js
  test/karma/test-app/esm-webpack/index.html
  test/karma/test-app/esm-webpack/karma.spec.ts
  test/karma/test-app/esm-webpack/webpack.config.js
  test/wdio/esm-import/cmp-hydrated.test.tsx
  test/wdio/esm-import/cmp.test.tsx
  test/wdio/esm-import/esm-import.css
  test/wdio/esm-import/esm-import.tsx
Labels: WDIO Migration

#5548 chore(wdio): move slot-basic tests to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-basic/index.html
  test/wdio/slot-basic/cmp-root.test.tsx
  test/wdio/slot-basic/cmp-root.tsx
  test/wdio/slot-basic/cmp.tsx
Labels: WDIO Migration

#5549 chore(wdio): port tag-names test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/tag-names/index.html
  test/karma/test-app/tag-names/karma.spec.ts
  test/wdio/tag-names/cmp-tag-3d.tsx
  test/wdio/tag-names/cmp-tag-88.tsx
  test/wdio/tag-names/cmp.test.tsx
Labels: WDIO Migration

#5559 chore(wdio): migrate slot-fallback tests
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-fallback/index.html
  test/karma/test-app/slot-fallback/karma.spec.ts
  test/wdio/slot-fallback/cmp-root.tsx
  test/wdio/slot-fallback/cmp.test.tsx
  test/wdio/slot-fallback/cmp.tsx
Labels: WDIO Migration

#5547 chore(wdio): move the lifecycle-unload test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/lifecycle-unload/index.html
  test/karma/test-app/lifecycle-unload/karma.spec.ts
  test/wdio/lifecycle-unload/cmp-a.tsx
  test/wdio/lifecycle-unload/cmp-b.tsx
  test/wdio/lifecycle-unload/cmp-root.test.tsx
  test/wdio/lifecycle-unload/cmp-root.tsx
Labels: WDIO Migration

#5545 chore(wdio): migrate slot-array-complex to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-array-complex/index.html
  test/karma/test-app/slot-array-complex/karma.spec.ts
  test/wdio/slot-array-complex/cmp-root.tsx
  test/wdio/slot-array-complex/cmp.test.tsx
  test/wdio/slot-array-complex/cmp.tsx
Labels: WDIO Migration

#5557 chore(test): migrate slot-dynamic-name-change
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-dynamic-name-change/index.html
  test/karma/test-app/slot-dynamic-name-change/karma.spec.ts
  test/wdio/slot-dynamic-name-change/cmp-scoped.tsx
  test/wdio/slot-dynamic-name-change/cmp-shadow.tsx
  test/wdio/slot-dynamic-name-change/cmp.test.tsx
Labels: WDIO Migration

#5561 chore(wdio): port svg-class test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/svg-class/index.html
  test/karma/test-app/svg-class/karma.spec.ts
  test/wdio/svg-class/cmp.test.tsx
  test/wdio/svg-class/cmp.tsx
Labels: WDIO Migration

#5544 chore(test): migrate `watch-native-attributes` to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/watch-native-attributes/index.html
  test/karma/test-app/watch-native-attributes/karma.spec.ts
  test/wdio/watch-native-attributes/cmp.test.tsx
  test/wdio/watch-native-attributes/cmp.tsx
Labels: WDIO Migration

#5498 chore(test): Minor tweaks to migrated WebdriverIO tests
  test/wdio/dynamic-css-variables/cmp.test.tsx
  test/wdio/dynamic-imports/cmp.test.tsx
  test/wdio/form-associated/cmp.test.tsx
  test/wdio/import-aliasing/cmp.test.tsx
  test/wdio/key-reorder/cmp.test.tsx
  test/wdio/lifecycle-basic/cmp-a.test.tsx
  test/wdio/lifecycle-nested/cmp-a.test.tsx
  test/wdio/package-lock.json
  test/wdio/package.json
  test/wdio/reflect-nan-attribute/reflect-nan-attribute.test.tsx
  test/wdio/reflect-to-attr/cmp.test.tsx
  test/wdio/scoped-slot-text-with-sibling/cmp.test.tsx
  test/wdio/scoped-slot-text/cmp.test.tsx
  test/wdio/wdio.conf.ts
Labels: WDIO Migration

#5555 chore(test): migrate shared-jsx
  test/karma/test-app/components.d.ts
  test/karma/test-app/shared-jsx/index.html
  test/wdio/shared-jsx/bad-shared-jsx.tsx
  test/wdio/shared-jsx/cmp.test.tsx
  test/wdio/shared-jsx/factory-jsx.tsx
Labels: WDIO Migration

#5558 chore(wdio): migrate slot-dynamic-wrapper tests
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-dynamic-wrapper/index.html
  test/karma/test-app/slot-dynamic-wrapper/karma.spec.ts
  test/wdio/slot-dynamic-wrapper/cmp-root.tsx
  test/wdio/slot-dynamic-wrapper/cmp.test.tsx
  test/wdio/slot-dynamic-wrapper/cmp.tsx
Labels: WDIO Migration

#5560 chore(wdio): migrate slot-hide-content tests
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-hide-content/index.html
  test/wdio/slot-hide-content/cmp-open.tsx
  test/wdio/slot-hide-content/cmp-scoped.tsx
  test/wdio/slot-hide-content/cmp.test.tsx
Labels: WDIO Migration

#5562 chore(wdio): port svg-attr test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/svg-attr/index.html
  test/wdio/svg-attr/cmp.test.tsx
  test/wdio/svg-attr/cmp.tsx
Labels: WDIO Migration

#5564 chore(repo): group webdriverio + related pkgs in renovate
  renovate.json5
Labels: WDIO Migration

#5531 chore(test): migrate `shadow-dom-mode` to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/shadow-dom-mode/cmp-root.tsx
  test/karma/test-app/shadow-dom-mode/index.html
  test/karma/test-app/shadow-dom-mode/karma.spec.ts
  test/wdio/shadow-dom-mode/cmp.test.tsx
  test/wdio/shadow-dom-mode/cmp.tsx
  test/wdio/shadow-dom-mode/mode-blue.css
  test/wdio/shadow-dom-mode/mode-red.css
Labels: WDIO Migration

#5546 chore(test): migrate `slot-array-basic` to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-array-basic/index.html
  test/karma/test-app/slot-array-basic/karma.spec.ts
  test/wdio/slot-array-basic/cmp.css
  test/wdio/slot-array-basic/cmp.test.tsx
  test/wdio/slot-array-basic/cmp.tsx
Labels: WDIO Migration

#5565 chore(wdio): port the static-styles test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/static-styles/index.html
  test/karma/test-app/static-styles/karma.spec.ts
  test/wdio/static-styles/cmp.test.tsx
  test/wdio/static-styles/cmp.tsx
Labels: WDIO Migration

#5553 chore(test): migrate slot-array-top
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-array-top/index.html
  test/karma/test-app/slot-array-top/karma.spec.ts
  test/wdio/package-lock.json
  test/wdio/slot-array-top/cmp.test.tsx
  test/wdio/slot-array-top/cmp.tsx
Labels: WDIO Migration

#5566 chore(wdio): migrate static-members test suite to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/static-members/index.html
  test/karma/test-app/static-members/karma.spec.ts
  test/wdio/static-members/README.md
  test/wdio/static-members/static-decorated-members.tsx
  test/wdio/static-members/static-members-separate-export.tsx
  test/wdio/static-members/static-members-separate-initializer.tsx
  test/wdio/static-members/static-members.test.tsx
  test/wdio/static-members/static-members.tsx
Labels: WDIO Migration

#5575 chore(wdio): migrate slot-parent-tag-change to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-parent-tag-change/index.html
  test/karma/test-app/slot-parent-tag-change/karma.spec.ts
  test/wdio/slot-parent-tag-change/cmp-root.tsx
  test/wdio/slot-parent-tag-change/cmp.test.tsx
  test/wdio/slot-parent-tag-change/cmp.tsx
Labels: WDIO Migration

#5568 chore(test): migrate slot-map-order
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-map-order/index.html
  test/wdio/slot-map-order/cmp-root.tsx
  test/wdio/slot-map-order/cmp.test.tsx
  test/wdio/slot-map-order/cmp.tsx
Labels: WDIO Migration

#5570 chore(test): migrate slot-nested-order
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-nested-order/index.html
  test/karma/test-app/slot-nested-order/karma.spec.ts
  test/wdio/slot-nested-order/cmp-child.tsx
  test/wdio/slot-nested-order/cmp-parent.tsx
  test/wdio/slot-nested-order/cmp.test.tsx
Labels: WDIO Migration

#5574 chore(wdio): port slot-scoped-list to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-scoped-list/index.html
  test/karma/test-app/slot-scoped-list/karma.spec.ts
  test/wdio/slot-scoped-list/dynamic-scoped-list-cmp.tsx
  test/wdio/slot-scoped-list/list-cmp.tsx
  test/wdio/slot-scoped-list/root-cmp.test.tsx
  test/wdio/slot-scoped-list/root-cmp.tsx
Labels: WDIO Migration

#5576 chore(wdio): move the slot-shadow-list test suite over to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-shadow-list/index.html
  test/karma/test-app/slot-shadow-list/karma.spec.ts
  test/wdio/slot-shadow-list/dynamic-shadow-list-cmp.tsx
  test/wdio/slot-shadow-list/list-cmp.tsx
  test/wdio/slot-shadow-list/root-cmp.test.tsx
  test/wdio/slot-shadow-list/root-cmp.tsx
Labels: WDIO Migration

#5579 chore(wdio): migrate slot-ref to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-ref/karma.spec.ts
  test/wdio/slot-ref/cmp.test.tsx
  test/wdio/slot-ref/cmp.tsx
  test/wdio/slot-ref/index.html
Labels: WDIO Migration

#5577 chore(wdio): migrate slot-reorder to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-reorder/index.html
  test/wdio/slot-reorder/cmp-root.tsx
  test/wdio/slot-reorder/cmp.test.tsx
  test/wdio/slot-reorder/cmp.tsx
Labels: WDIO Migration

#5581 chore(wdio): migrate slotted-css to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slotted-css/index.html
  test/karma/test-app/slotted-css/karma.spec.ts
  test/wdio/slotted-css/cmp.css
  test/wdio/slotted-css/cmp.test.tsx
  test/wdio/slotted-css/cmp.tsx
Labels: WDIO Migration

#5554 chore(test): migrate shadow-dom-slot-nested
  test/karma/test-app/components.d.ts
  test/karma/test-app/shadow-dom-slot-nested/index.html
  test/karma/test-app/shadow-dom-slot-nested/karma.spec.ts
  test/wdio/shadow-dom-slot-nested/cmp-root.tsx
  test/wdio/shadow-dom-slot-nested/cmp.test.tsx
  test/wdio/shadow-dom-slot-nested/cmp.tsx
Labels: WDIO Migration

#5556 chore(test): migrate slot-children
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-children/index.html
  test/karma/test-app/slot-children/karma.spec.ts
  test/wdio/slot-children/cmp-root.tsx
  test/wdio/slot-children/cmp.test.tsx
Labels: WDIO Migration

#5573 chore(wdio): migrate slot-no-default to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-no-default/index.html
  test/karma/test-app/slot-no-default/karma.spec.ts
  test/wdio/slot-no-default/cmp.test.tsx
  test/wdio/slot-no-default/cmp.tsx
Labels: WDIO Migration

#5580 chore(wdio): migrate text-content-patch to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/text-content-patch/index.html
  test/karma/test-app/text-content-patch/karma.spec.ts
  test/wdio/text-content-patch/cmp-scoped-slot.tsx
  test/wdio/text-content-patch/cmp-scoped.tsx
  test/wdio/text-content-patch/cmp.test.tsx
Labels: WDIO Migration

#5578 chore(wdio): migrate slot-conditional-rendering to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-conditional-rendering/index.html
  test/karma/test-app/slot-conditional-rendering/karma.spec.ts
  test/wdio/slot-conditional-rendering/cmp.test.tsx
  test/wdio/slot-conditional-rendering/cmp.tsx
Labels: WDIO Migration

#5533 chore(test): migrate reparent-style
  test/karma/test-app/components.d.ts
  test/karma/test-app/reparent-style/index.html
  test/karma/test-app/reparent-style/karma.spec.ts
  test/wdio/reparent-style/cmp.test.tsx
  test/wdio/reparent-style/reparent-style-no-vars.css
  test/wdio/reparent-style/reparent-style-no-vars.tsx
  test/wdio/reparent-style/reparent-style-with-vars.css
  test/wdio/reparent-style/reparent-style-with-vars.tsx
Labels: WDIO Migration

#5583 chore(test): migrate init-css-shim
  test/karma/test-app/components.d.ts
  test/karma/test-app/init-css-shim/index.html
  test/wdio/init-css-shim/cmp-root.css
  test/wdio/init-css-shim/cmp-root.tsx
  test/wdio/init-css-shim/cmp.test.tsx
Labels: WDIO Migration

#5590 chore(wdio): migrate stencil-sibling test suite to wdio
  test/karma/README.md
  test/karma/package.json
  test/karma/test-app/components.d.ts
  test/karma/test-app/global.ts
  test/karma/test-app/stencil-sibling/index.html
  test/karma/test-app/stencil-sibling/karma.spec.ts
  test/karma/tsconfig-stencil.json
  test/karma/tsconfig.json
  test/wdio/global.ts
  test/wdio/package.json
  test/wdio/stencil-sibling/cmp.test.tsx
  test/wdio/stencil-sibling/cmp.tsx
  test/wdio/test-sibling/package-lock.json
  test/wdio/test-sibling/package.json
  test/wdio/test-sibling/src/components.d.ts
  test/wdio/test-sibling/src/global.ts
  test/wdio/test-sibling/src/sibling-root/sibling-root.tsx
  test/wdio/test-sibling/stencil.config.ts
  test/wdio/test-sibling/tsconfig.json
  test/wdio/tsconfig-stencil.json
Labels: WDIO Migration

#5465 chore(test): migrate Karma tests to WebdriverIO
  .gitignore
  test/karma/package.json
  test/karma/test-app/components.d.ts
  test/karma/test-app/custom-elements-delegates-focus/index.esm.js
  test/karma/test-app/custom-elements-delegates-focus/index.html
  test/karma/test-app/custom-elements-delegates-focus/karma.spec.ts
  test/karma/test-app/custom-elements-delegates-focus/webpack.config.js
  test/karma/test-app/custom-elements-output-tag-class-different/index.esm.js
  test/karma/test-app/custom-elements-output-tag-class-different/index.html
  test/karma/test-app/custom-elements-output-tag-class-different/karma.spec.ts
  test/karma/test-app/custom-elements-output-tag-class-different/webpack.config.js
  test/karma/test-app/custom-elements-output-webpack/index.esm.js
  test/karma/test-app/custom-elements-output-webpack/index.html
  test/karma/test-app/custom-elements-output-webpack/karma.spec.ts
  test/karma/test-app/custom-elements-output-webpack/webpack.config.js
  test/wdio/custom-elements-delegates-focus/cmp.test.tsx
  test/wdio/custom-elements-delegates-focus/custom-elements-delegates-focus.tsx
  test/wdio/custom-elements-delegates-focus/custom-elements-no-delegates-focus.tsx
  test/wdio/custom-elements-delegates-focus/shared-delegates-focus.css
  test/wdio/custom-elements-output-tag-class-different/cmp.test.tsx
  test/wdio/custom-elements-output-tag-class-different/custom-element-child.tsx
  test/wdio/custom-elements-output-tag-class-different/custom-element-root.tsx
  test/wdio/custom-elements-output/cmp.test.tsx
  test/wdio/custom-elements-output/custom-element-child.tsx
  test/wdio/custom-elements-output/custom-element-nested-child.tsx
  test/wdio/custom-elements-output/custom-element-root.tsx
  test/wdio/setup.ts
  test/wdio/slot-reorder/cmp.test.tsx
  test/wdio/stencil.config.ts
Labels: WDIO Migration

#5569 chore(test): migrate slot-nested-default-order
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-nested-default-order/index.html
  test/karma/test-app/slot-nested-default-order/karma.spec.ts
  test/wdio/slot-nested-default-order/cmp-child.tsx
  test/wdio/slot-nested-default-order/cmp-parent.tsx
  test/wdio/slot-nested-default-order/cmp.test.tsx
Labels: WDIO Migration

#5591 chore(test): migrate prerender-test
  .gitignore
  test/karma/package.json
  test/karma/test-prerender/test-prerender/components.d.ts
  test/karma/test-prerender/tsconfig-prerender.json
  test/wdio/global-script.stencil.config.ts
  test/wdio/package.json
  test/wdio/prerender-test/cmp.test.tsx
  test/wdio/prerender.stencil.config.ts
  test/wdio/test-prerender/no-script-build.js
  test/wdio/test-prerender/package.json
  test/wdio/test-prerender/prerender.config.js
  test/wdio/test-prerender/prerender.js
  test/wdio/test-prerender/src/components.d.ts
  test/wdio/test-prerender/src/components/app-root/app-root.css
  test/wdio/test-prerender/src/components/app-root/app-root.tsx
  test/wdio/test-prerender/src/components/cmp-a/cmp-a.css
  test/wdio/test-prerender/src/components/cmp-a/cmp-a.tsx
  test/wdio/test-prerender/src/components/cmp-b/cmp-b.css
  test/wdio/test-prerender/src/components/cmp-b/cmp-b.tsx
  test/wdio/test-prerender/src/components/cmp-c/cmp-c.css
  test/wdio/test-prerender/src/components/cmp-c/cmp-c.tsx
  test/wdio/test-prerender/src/components/cmp-client-scoped/cmp-client-scoped.css
  test/wdio/test-prerender/src/components/cmp-client-scoped/cmp-client-scoped.tsx
  test/wdio/test-prerender/src/components/cmp-client-shadow/cmp-client-shadow.css
  test/wdio/test-prerender/src/components/cmp-client-shadow/cmp-client-shadow.tsx
  test/wdio/test-prerender/src/components/cmp-d/cmp-d.css
  test/wdio/test-prerender/src/components/cmp-d/cmp-d.tsx
  test/wdio/test-prerender/src/components/cmp-scoped-a/cmp-scoped-a.css
  test/wdio/test-prerender/src/components/cmp-scoped-a/cmp-scoped-a.tsx
  test/wdio/test-prerender/src/components/cmp-scoped-b/cmp-scoped-b.css
  test/wdio/test-prerender/src/components/cmp-scoped-b/cmp-scoped-b.tsx
  test/wdio/test-prerender/src/components/cmp-text-blue/cmp-text-blue.css
  test/wdio/test-prerender/src/components/cmp-text-blue/cmp-text-blue.tsx
  test/wdio/test-prerender/src/components/cmp-text-green/cmp-text-green.css
  test/wdio/test-prerender/src/components/cmp-text-green/cmp-text-green.tsx
  test/wdio/test-prerender/src/components/hydrate-svg/hydrate-svg.tsx
  test/wdio/test-prerender/src/global/app.css
  test/wdio/test-prerender/src/global/util.ts
  test/wdio/test-prerender/src/index.html
  test/wdio/tsconfig-prerender.json
Labels: WDIO Migration

#5571 chore(test): migrate slot-ng-if
  .prettierignore
  test/karma/test-app/assets/favicon.ico
  test/karma/test-app/components.d.ts
  test/wdio/slot-ng-if/assets/angular.min.js
  test/wdio/slot-ng-if/assets/angular.min.js.map
  test/wdio/slot-ng-if/cmp.test.tsx
  test/wdio/slot-ng-if/cmp.tsx
  test/wdio/slot-ng-if/index.html
Labels: WDIO Migration

#5572 chore(wdio): migrate slot-html to wdio
  test/karma/test-app/components.d.ts
  test/karma/test-app/slot-html/index.html
  test/karma/test-app/slot-html/karma.spec.ts
  test/wdio/slot-html/cmp.test.tsx
  test/wdio/slot-html/cmp.tsx
Labels: WDIO Migration

#5597 chore(test): migrate `invisible-prehydration-false` to wdio
  .gitignore
  test/karma/package.json
  test/karma/test-app/invisible-prehydration-false/index.html
  test/karma/test-app/invisible-prehydration-false/karma.spec.ts
  test/karma/test-invisible-prehydration/.gitignore
  test/karma/test-invisible-prehydration/package-lock.json
  test/karma/test-invisible-prehydration/package.json
  test/karma/test-invisible-prehydration/stencil.invisiblePrehydrationFalse.config.ts
  test/karma/test-invisible-prehydration/tsconfig.json
  test/wdio/invisible-prehydration.stencil.config.ts
  test/wdio/invisible-prehydration/cmp.tsx
  test/wdio/invisible-prehydration/components.d.ts
  test/wdio/invisible-prehydration/index.html
  test/wdio/invisible-prehydration/invisible-prehydration.test.tsx
  test/wdio/package.json
  test/wdio/tsconfig-invisible-prehydration.json
  test/wdio/tsconfig-stencil.json
Labels: WDIO Migration
